
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: underline;
	color: #6B2E42;
}

a:hover {
	text-decoration: none;
}


h1,h2,h3,h4 {
	letter-spacing: -1px;
	
	font-weight: normal;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #000405;
	font-family: Arvo, serif;
	margin-bottom: 1em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

a {
	text-decoration: underline;
	color: #6B2E42;
}

a:hover {
	text-decoration: none;
}


.gwt-TabLayoutPanel {
			background: #FFFFFF;
			margin: 10px 20px 5px 5px;
			color: #6E6E6E;
			
			
			border-bottom: solid 2px #BBC1BF;
		}
		
		
		 .gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs{
			
				background: #C9CFCD url(image/img01.gif);
				top: 0px;
				
				border-bottom: solid 5px #993366;
	
		}
		
		.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
			
				background-color: #CC6699;
				margin: 0px 5px;
				padding: 0px 5px;
		
	
		}
		.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner{
			
			
			color: white;
		}
		.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected{
			background-color: #993366;
			padding: 0px 5px;
			color: white;
		}
		

