<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <!--servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.liu.trymylanguage.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/trymylanguage/greet</url-pattern>
    </servlet-mapping-->
  <servlet>
    <servlet-name>TMLServiceImpl</servlet-name>
    <servlet-class>com.liu.trymylanguage.server.TMLServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TMLServiceImpl</servlet-name>
    <url-pattern>/trymylanguage/tmlservice</url-pattern>
  </servlet-mapping>
  
  <!-- the comet servlet for streaming messages to the client -->
    <servlet>
        <servlet-name>tmlComet</servlet-name>
        <servlet-class>net.zschech.gwt.comet.server.CometServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>tmlComet</servlet-name>
       <url-pattern>/trymylanguage/comet</url-pattern>
    </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TryMyLanguage.html</welcome-file>
  </welcome-file-list>

</web-app>
